<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome</h1>
    <a [routerLink]="['/upsert-journal']" class="my-2 d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-upload fa-sm text-white-50"></i> Upload new journal
    </a>
</div>

<!-- Page Body -->
<div class="container" *ngIf="journals">
    <app-home-card *ngFor="let journal of journals" 
    [id]="journal.id!"
    [author]="journal.user?.firstName!"
    [title]="journal.title!"
    [date]="journal.uploadDate!">
    </app-home-card>
</div>

<p *ngIf="journals?.length == 0">There aren't post yet.</p>
